body{
    background-color: rgb(173, 196, 197);
    color:brown;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 72px;
    }

    #lienzo {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    
        border: 6px dotted rgb(35, 64, 91);
        box-sizing: border-box;
    }